bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/

.DS_Store

OrderDependencyTester.sln.DotSettings.user

benchmarkdata/*
!benchmarkdata/datasets.csv
!benchmarkdata/runs.csv
!benchmarkdata/measurements.csv
